* {
  scrollbar-color: rgb(115, 115, 128) rgb(51, 51, 51);
  scrollbar-width: thin;
}
::selection {
  background: rgba(96, 230, 136, 0.753) none repeat scroll 0% 0%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
