.about-container {
  height: 100vh;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  max-width: 75vw;
}

.text-container {
  // flex-grow: 4;
}
.text-excerpt {
  border-left: 2px solid green;
  margin-top: 2em;
  margin-bottom: 2em;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(68, 85, 129);
}

.image {
  // flex-grow: .75;
  max-width: 30vw;
  border-radius: 10%;
  // height: 100%;
}
