.typewriter-container {
  display: flex;
  align-items: center;
  border: 2px solid red;
}

.Typewriter {
  display: flex;
  align-items: center;
  min-height: 100%;
  //   border: 2px solid green;
}
.Typewriter__cursor {
  //   height: 200px;
  font-size: 20px;
  //   size: 100px;
  //   border: 2px solid red;
}
