.navBar {
  // border: 2px solid red;
  background-image: linear-gradient(rgba(27, 27, 35, 1), rgba(27, 27, 35, 0));
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
  }
}

.mainNav {
  // border: 2px solid blue;
  //   text-decoration: "none";
  color: white;
  display: flex;
  align-items: center;
}

.headerLinks {
  // border: 2px solid green;
  //   text-decoration: "none";
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  //   a {
  //     color: white;
  //     text-decoration: none;
  //   }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  // color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  // background-color: #0087ca;
  background-color: #27ae60;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
