.navBar {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
  }
}

.mainNav {
  border: 2px solid blue;
  //   text-decoration: "none";
  color: white;
  display: flex;
  align-items: center;
}

.headerLinks {
  border: 2px solid green;
  //   text-decoration: "none";
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  //   a {
  //     color: white;
  //     text-decoration: none;
  //   }
}
