.projects-container {
  //   max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(140, 143, 207);
}
.projects-header {
  border-bottom: 2px solid rgb(140, 143, 207);;
  width: 840px;
}

.projects-shelf {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
